.searched--img {
  width: 100%;
  height: 90%;
  max-width: 350px;
  border-radius: 50%;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  box-shadow: 3px 3px 4px 3px rgba(#639259, 0.5);

  &:hover {
    box-shadow: 7px 7px 8px 3px rgba(#639259, 0.5),
      7px 7px 8px 3px rgba(#639259, 0.4);
    transition: 0.3s;
  }
}
@media screen and (max-width: 900px) {
  .test {
    width: 80%;
    height: 70%;
    border-radius: 50%;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }
}
